In [2]:
import csv

header = ['Id','Species','Location']

rows = [
    [1,'Versicolor','India'],[2,'Versicolor','India'],[3,'Versicolor','India'],
    [4,'Versicolor','India'],[5,'Versicolor','India'],[6,'Versicolor','India']
]

with open('species.csv', mode='w', newline='') as file:
    writer = csv.writer(file)

    # Write the header
    writer.writerow(header)

    # Write the data rows
    writer.writerows(rows)

print("CSV file created successfully.")

CSV file created successfully.

In [6]:
import pandas as pd

df = pd.read_csv('species.csv')
df

   Id     Species Location
0   1  Versicolor    India
1   2  Versicolor    India
2   3  Versicolor    India
3   4  Versicolor    India
4   5  Versicolor    India
5   6  Versicolor    India

In [8]:
[ 
 {
    "id": 10,
    "specie": 'gentoo',
    "location": "New York"
  },
 {
    "id": 11,
    "specie": 'gentoo',
    "location": "London"
  },
 {
    "id": 12,
    "specie": 'king',
    "location": "New York"
  }, {
    "id": 13,
    "specie": 'gentoo',
    "location": "London"
  }, {
    "id": 14,
    "specie": 'king',
    "location": "New York"
  },    
]

[{'id': 10, 'specie': 'gentoo', 'location': 'New York'},
 {'id': 11, 'specie': 'gentoo', 'location': 'London'},
 {'id': 12, 'specie': 'king', 'location': 'New York'},
 {'id': 13, 'specie': 'gentoo', 'location': 'London'},
 {'id': 14, 'specie': 'king', 'location': 'New York'}]

In [10]:
import json

data = [ 
 {
    "id": 10,
    "specie": 'gentoo',
    "location": "New York"
  },
 {
    "id": 11,
    "specie": 'gentoo',
    "location": "London"
  },
 {
    "id": 12,
    "specie": 'king',
    "location": "New York"
  }, {
    "id": 13,
    "specie": 'gentoo',
    "location": "London"
  }, {
    "id": 14,
    "specie": 'king',
    "location": "New York"
  },    
]

with open('penguins.json', mode='w') as file:
    json.dump(data, file, indent=4)  # The indent parameter makes the JSON file readable

In [ ]:
tags

python, c, java script,

html -> webpages

SQL syntax -> querry data


</people>

database management XXXXX
basics that can help us manipulate data

SQL - syntax differs.... google 

concepts; SQL

databases -> db that have tables, 
school db

student table
teachers table

class table  -> id subject teachers students

(primary and foriegn keys)

In [16]:
import sqlite3 as sql

# Connect to a database (or create it if it doesn't exist)
connection = sql.connect('idrees.db')

# Create a cursor object using the connection. A cursor is a control structure that enables traversal over the records in a database.
cursor = connection.cursor()

In [18]:
# Create an sql table in python

cursor.execute('''
CREATE TABLE idrees_students(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    city TEXT
);
''')

In [20]:
# Commit the changes and close the connection
connection.commit()

In [28]:
# Insert data in sql table in python
cursor.execute("INSERT INTO idrees_students (id, name, city) VALUES (3, 'Sagar','Texas')")

# Commit the changes
connection.commit()

In [30]:
# Insert data in sql table in python
cursor.execute("INSERT INTO idrees_students (id, name, city) VALUES (4, 'Santosh','Austin')")

# Commit the changes
connection.commit()

In [36]:
# Query the data from sql table using python
cursor.execute("SELECT * FROM idrees_students")

# Fetch all results
res = cursor.fetchall()

In [40]:
res

[(1, 'Sagar', 'Texas'),
 (2, 'Ritika', 'Irving'),
 (3, 'Sagar', 'Texas'),
 (4, 'Santosh', 'Austin')]

In [42]:
import pandas as pd

x = pd.DataFrame(res)

In [44]:
x

   0        1       2
0  1    Sagar   Texas
1  2   Ritika  Irving
2  3    Sagar   Texas
3  4  Santosh  Austin

In [46]:
# Close the connection
connection.close()

In [48]:
# Query the data from sql table using python
cursor.execute("SELECT * FROM idrees_students")

# Fetch all results
res = cursor.fetchall()

ProgrammingError: Cannot operate on a closed database.

In [50]:
pip install sqlite3

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [52]:
import sqlite3 as sql

In [54]:
# import mysql dependency
import mysql.connector # cmd/terminal -> pip install 
import pandas as pd

In [56]:
# Connect to the MySQL database
connection = mysql.connector.connect(
    host='localhost',
    user='idrees',
    password='qwerty12345',
    database='idrees_db'
)

In [60]:
# Create a cursor object
cursor = connection.cursor()

In [62]:
# Query the data
cursor.execute("SELECT * FROM users")

# Fetch all results
results = cursor.fetchall()

In [64]:
results

[(1, 'Alice', 30), (2, 'Bob', 25)]

In [66]:
df = pd.DataFrame(results)
df

   0      1   2
0  1  Alice  30
1  2    Bob  25

In [2]:
# import mysql dependency
import mysql.connector # cmd/terminal -> pip install 
import pandas as pd

In [4]:
# Connect to the MySQL database
connection = mysql.connector.connect(
    host='localhost',
    user='idrees',
    password='qwerty12345',
    database='idrees_db'
)

# Create a cursor object
cursor = connection.cursor()

In [34]:
import requests

# API endpoint for fetching a random dog image
url = "https://dog.ceo/api/breeds/image/random"

In [36]:
# Make a GET request to fetch data
response = requests.get(url)

In [32]:
response

In [24]:
response.status_code # (e.g., 200 for "OK", 404 for "Not Found")

200

In [26]:
# Check if the request was successful
if response.status_code == 200:
    data = response.json()  # Parse JSON response
    # Extracting the URL of the random dog image
    dog_image_url = data['message']
    
    # Print the dog image URL
    print("Here is a random dog image for you:")
    print(dog_image_url)
else:
    print("Failed to fetch data.")

Here is a random dog image for you:
https://images.dog.ceo/breeds/collie-border/n02106166_6659.jpg

In [16]:
data

{'message': 'https://images.dog.ceo/breeds/retriever-curly/n02099429_2650.jpg',
 'status': 'success'}

In [38]:
import requests as rq

url = "https://google.com"

response = rq.get(url)

In [42]:
import pandas as pd

df = pd.DataFrame(response)
df

                                                     0
0    b'<!doctype html><html itemscope="" itemtype="...
1    b'8" http-equiv="Content-Type"><meta content="...
2    b'e>Google</title><script nonce="3tRwBb86E_CDk...
3    b'48528,90133,2872,2891,8349,64701,34266,16243...
4    b'64,17620,7734,27535,13446,9710,19568,11106,1...
..                                                 ...
181  b'];!(m=d.next()).done;)B.push(m.value);d=B}E=...
182  b'gth-1]-E[E.length-4])/1E3<5;if(c){c=google.g...
183  b'f)||"":"";f=f||"";if(a.hasAttribute("jsname"...
184  b'etAttribute("jsname")}google.log("rcm","&ei=...
185  b'r("DOMContentLoaded",function(){document.bod...

[186 rows x 1 columns]

In [44]:
import requests
import pandas as pd

In [46]:
# Your OpenWeatherMap API key
api_key = "154efb44830a0c05dc04eba77d69f205"

In [89]:
# Ask user for the city
city = input("Which city's weather do you want?")

Which city's weather do you want? Texas

In [91]:
# Set the city and API URL
#city = "London"
url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric"

url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric"

In [94]:
# Send a GET request to the API
response = requests.get(url)
#response.url
response.status_code

200

In [96]:
# Check if the request was successful
if response.status_code == 200:
    # Convert the response to JSON format
    data = response.json()

    # Extract relevant numerical data
    main_data = data['main']
    temperature = main_data['temp']
    humidity = main_data['humidity']
    pressure = main_data['pressure']
    print("Extraction successful")
else:
    print(f"Failed to retrieve data: {response.status_code}")

Extraction successful

In [98]:
    # Display the data
    print(f"City: {city}")
    print(f"Temperature: {temperature}°C")
    print(f"Humidity: {humidity}%")
    print(f"Pressure: {pressure} hPa")

City: Texas
Temperature: 25.51°C
Humidity: 41%
Pressure: 1015 hPa

In [100]:
    # Create a DataFrame to store the data
    weather_df = pd.DataFrame({
        "City": [city],
        "Temperature (°C)": [temperature],
        "Humidity (%)": [humidity],
        "Pressure (hPa)": [pressure]
    })

In [102]:
weather_df

    City  Temperature (°C)  Humidity (%)  Pressure (hPa)
0  Texas             25.51            41            1015

In [106]:
import requests
import pandas as pd

# Your OpenWeatherMap API key
api_key = "154efb44830a0c05dc04eba77d69f205"

# Set the city and API URL
city = "London"
url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric"

# Check if the request was successful
if response.status_code == 200:
    # Convert the response to JSON format
    data = response.json()

    # Extract relevant numerical data
    main_data = data['main']
    temperature = main_data['temp']
    humidity = main_data['humidity']
    pressure = main_data['pressure']
    print("Extraction successful")
else:
    print(f"Failed to retrieve data: {response.status_code}")

# Create a DataFrame to store the data
weather_df = pd.DataFrame({
    "City": [city],
    "Temperature (°C)": [temperature],
    "Humidity (%)": [humidity],
    "Pressure (hPa)": [pressure]
})

weather_df

Extraction successful

     City  Temperature (°C)  Humidity (%)  Pressure (hPa)
0  London             25.51            41            1015

In [112]:
html_doc = """<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Books Data</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f8f8f8;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        .book {
            border: 1px solid #ccc;
            padding: 15px;
            margin: 10px;
            border-radius: 5px;
            background-color: #fff;
        }
        .title {
            font-size: 1.5em;
            color: #0056b3;
        }
        .author {
            font-style: italic;
            color: #555;
        }
        .price {
            color: #d9534f;
            font-weight: bold;
        }
        .description {
            margin-top: 10px;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Books List</h1>
    <div class="book">
        <p class="title">
            <b>The Great Gatsby</b>
        </p>
        <p class="author">Author: F. Scott Fitzgerald</p>
        <p class="price">Price: $10.99</p>
        <p class="publication-year">Publication Year: 1925</p>
        <p class="genre">Genre: Fiction</p>
        <p class="description">
            A novel about the American dream, set in the 1920s on Long Island.
        </p>
        <p>More Info: <a class="info-link" href="http://example.com/gatsby" id="link1">Learn More</a></p>
    </div>
    <div class="book">
        <p class="title">
            <b>1984</b>
        </p>
        <p class="author">Author: George Orwell</p>
        <p class="price">Price: $8.99</p>
        <p class="publication-year">Publication Year: 1949</p>
        <p class="genre">Genre: Dystopian</p>
        <p class="description">
            A story about a totalitarian regime that uses surveillance and propaganda to control its citizens.
        </p>
        <p>More Info: <a class="info-link" href="http://example.com/1984" id="link2">Learn More</a></p>
    </div>
    <div class="book">
        <p class="title">
            <b>To Kill a Mockingbird</b>
        </p>
        <p class="author">Author: Harper Lee</p>
        <p class="price">Price: $7.99</p>
        <p class="publication-year">Publication Year: 1960</p>
        <p class="genre">Genre: Fiction</p>
        <p class="description">
            A novel set in the Great Depression that addresses serious issues of race and injustice.
        </p>
        <p>More Info: <a class="info-link" href="http://example.com/mockingbird" id="link3">Learn More</a></p>
    </div>
</body>
</html>
"""

In [114]:
print(html_doc)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Books Data</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f8f8f8;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        .book {
            border: 1px solid #ccc;
            padding: 15px;
            margin: 10px;
            border-radius: 5px;
            background-color: #fff;
        }
        .title {
            font-size: 1.5em;
            color: #0056b3;
        }
        .author {
            font-style: italic;
            color: #555;
        }
        .price {
            color: #d9534f;
            font-weight: bold;
        }
        .description {
            margin-top: 10px;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Books List</h1>
    <div class="book">
        <p class="title">
            <b>The Great Gatsby</b>
        </p>
        <p class="author">Author: F. Scott Fitzgerald</p>
        <p class="price">Price: $10.99</p>
        <p class="publication-year">Publication Year: 1925</p>
        <p class="genre">Genre: Fiction</p>
        <p class="description">
            A novel about the American dream, set in the 1920s on Long Island.
        </p>
        <p>More Info: <a class="info-link" href="http://example.com/gatsby" id="link1">Learn More</a></p>
    </div>
    <div class="book">
        <p class="title">
            <b>1984</b>
        </p>
        <p class="author">Author: George Orwell</p>
        <p class="price">Price: $8.99</p>
        <p class="publication-year">Publication Year: 1949</p>
        <p class="genre">Genre: Dystopian</p>
        <p class="description">
            A story about a totalitarian regime that uses surveillance and propaganda to control its citizens.
        </p>
        <p>More Info: <a class="info-link" href="http://example.com/1984" id="link2">Learn More</a></p>
    </div>
    <div class="book">
        <p class="title">
            <b>To Kill a Mockingbird</b>
        </p>
        <p class="author">Author: Harper Lee</p>
        <p class="price">Price: $7.99</p>
        <p class="publication-year">Publication Year: 1960</p>
        <p class="genre">Genre: Fiction</p>
        <p class="description">
            A novel set in the Great Depression that addresses serious issues of race and injustice.
        </p>
        <p>More Info: <a class="info-link" href="http://example.com/mockingbird" id="link3">Learn More</a></p>
    </div>
</body>
</html>

In [118]:
# Import necessary libraries
from bs4 import BeautifulSoup as bs
import pandas as pd

In [120]:
# Parse the HTML content with Beautiful Soup
soup = bs(html_doc, 'html.parser')

<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Sample Books Data</title>
<style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f8f8f8;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        .book {
            border: 1px solid #ccc;
            padding: 15px;
            margin: 10px;
            border-radius: 5px;
            background-color: #fff;
        }
        .title {
            font-size: 1.5em;
            color: #0056b3;
        }
        .author {
            font-style: italic;
            color: #555;
        }
        .price {
            color: #d9534f;
            font-weight: bold;
        }
        .description {
            margin-top: 10px;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<h1>Books List</h1>
<div class="book">
<p class="title">
<b>The Great Gatsby</b>
</p>
<p class="author">Author: F. Scott Fitzgerald</p>
<p class="price">Price: $10.99</p>
<p class="publication-year">Publication Year: 1925</p>
<p class="genre">Genre: Fiction</p>
<p class="description">
            A novel about the American dream, set in the 1920s on Long Island.
        </p>
<p>More Info: <a class="info-link" href="http://example.com/gatsby" id="link1">Learn More</a></p>
</div>
<div class="book">
<p class="title">
<b>1984</b>
</p>
<p class="author">Author: George Orwell</p>
<p class="price">Price: $8.99</p>
<p class="publication-year">Publication Year: 1949</p>
<p class="genre">Genre: Dystopian</p>
<p class="description">
            A story about a totalitarian regime that uses surveillance and propaganda to control its citizens.
        </p>
<p>More Info: <a class="info-link" href="http://example.com/1984" id="link2">Learn More</a></p>
</div>
<div class="book">
<p class="title">
<b>To Kill a Mockingbird</b>
</p>
<p class="author">Author: Harper Lee</p>
<p class="price">Price: $7.99</p>
<p class="publication-year">Publication Year: 1960</p>
<p class="genre">Genre: Fiction</p>
<p class="description">
            A novel set in the Great Depression that addresses serious issues of race and injustice.
        </p>
<p>More Info: <a class="info-link" href="http://example.com/mockingbird" id="link3">Learn More</a></p>
</div>
</body>
</html>

In [124]:
with open('../../webfile.html', 'r', encoding='utf-8') as file:
    html_content = file.read()
    
# Parse the HTML content with Beautiful Soup
soup = BeautifulSoup(html_content, 'html.parser')

In [136]:
soup.prettify()[:700]

'<!DOCTYPE html>\n<html lang="en">\n <head>\n  <meta charset="utf-8"/>\n  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>\n  <title>\n   Sample Books Data\n  </title>\n  <style>\n   body {\n            font-family: Arial, sans-serif;\n            margin: 20px;\n            background-color: #f8f8f8;\n        }\n        h1 {\n            text-align: center;\n            color: #333;\n        }\n        .book {\n            border: 1px solid #ccc;\n            padding: 15px;\n            margin: 10px;\n            border-radius: 5px;\n            background-color: #fff;\n        }\n        .title {\n            font-size: 1.5em;\n            color: #0056b3;\n        }\n        .author {\n            '

In [138]:
# Find all book entries
books = soup.find_all('div', class_='book')

In [142]:
# Print the number of books found
print(f"Number of books found: {len(books)}")

Number of books found: 3

In [146]:
# Initialize an empty list to hold book data
book_data = []

In [148]:
# Loop through each book and extract details
for book in books:
    title = book.find('p', class_='title').get_text(strip=True)
    author = book.find('p', class_='author').get_text(strip=True)
    price = book.find('p', class_='price').get_text(strip=True)
    publication_year = book.find('p', class_='publication-year').get_text(strip=True)
    genre = book.find('p', class_='genre').get_text(strip=True)
    description = book.find('p', class_='description').get_text(strip=True)

    # Append the extracted data to the list
    book_data.append({
        'Title': title,
        'Author': author,
        'Price': price,
        'Publication Year': publication_year,
        'Genre': genre,
        'Description': description
    })

In [150]:
book_data

[{'Title': 'The Great Gatsby',
  'Author': 'Author: F. Scott Fitzgerald',
  'Price': 'Price: $10.99',
  'Publication Year': 'Publication Year: 1925',
  'Genre': 'Genre: Fiction',
  'Description': 'A novel about the American dream, set in the 1920s on Long Island.'},
 {'Title': '1984',
  'Author': 'Author: George Orwell',
  'Price': 'Price: $8.99',
  'Publication Year': 'Publication Year: 1949',
  'Genre': 'Genre: Dystopian',
  'Description': 'A story about a totalitarian regime that uses surveillance and propaganda to control its citizens.'},
 {'Title': 'To Kill a Mockingbird',
  'Author': 'Author: Harper Lee',
  'Price': 'Price: $7.99',
  'Publication Year': 'Publication Year: 1960',
  'Genre': 'Genre: Fiction',
  'Description': 'A novel set in the Great Depression that addresses serious issues of race and injustice.'}]

In [152]:
# Create a DataFrame from the extracted book data
df = pd.DataFrame(book_data)

# Display the DataFrame
df

,Title,Author,Price,Publication Year,Genre,Description
0,The Great Gatsby,Author: F. Scott Fitzgerald,Price: $10.99,Publication Year: 1925,Genre: Fiction,"A novel about the American dream, set in the 1..."
1,1984,Author: George Orwell,Price: $8.99,Publication Year: 1949,Genre: Dystopian,A story about a totalitarian regime that uses ...
2,To Kill a Mockingbird,Author: Harper Lee,Price: $7.99,Publication Year: 1960,Genre: Fiction,A novel set in the Great Depression that addre...

In [154]:
soup.title