programing -> instructing a computer/machine

set of instructions

In [ ]:
algorithm -> a series of steps

Task -> make a cup of tea

1. gather ingredients 
2. utensil, put on stove
3. turn on the stove
4. fill it with right amount of water
5. wait untill it start boiling
6. put in tea
7. wait for two minutes
8. add sugar and milk

task / solve a problem / 

machine code (100110101101010101101)

- set of instruction (algorithm) -> programing language -> machine code

- programing language compiler/interpreter

CS 

- C language, C++ , Java, Python

-

In [ ]:
interpret

In [17]:
print("sunil will appear")

sunil will appear

In [19]:
printf("this is c"); # this is a c lanugue instruction

NameError: name 'printf' is not defined

In [ ]:
# this is how we do things in C

void main(){
    
a = 10;
printf("Hello world! %d", a);

    
}

In [23]:
print("Hello world!")

Hello world!

In [ ]:
# varaibles are container that hold data

In [27]:
10 + 12

22

In [38]:
a = 10 # asssigning value to a variable
b = 20
c = a + b

In [40]:
print("a is %d, b is %d and their sum is %d"%(a,b,c) ) # display integers %d

a is 10, b is 20 and their sum is 30

In [44]:
print("a is {} , b is {} and their sum is {}".format(a,b,c) )

a is 30 , b is 20 and their sum is 10

python understands the following types of data:

int 3 4 5 6 67

float 3.14 5.7  6776.6767 

str string - "hellowwww"

In [64]:
print("""anogdnaor geonargierao enasgonar goaefinavoasngvrnasongvr grioahsgirhg 
f oanfeoahfeoiajfioeajoifheoiasjifea fahfeoahfoaisjfhaeie
aeofhaoiefhaioefjioajfehaohfeiahf
efaohfeioaofehiaoheohaef
Lists: Ordered, mutable collections of items, which can be of mixed types.

Tuples: Ordered, immutable collections of items.

Dictionaries: Unordered collections of key-value pairs.

Sets: Unordered collections of unique items.

None: Represents the absence of a value or a null value.

Each data type serves different purposes and has different methods associated with it. For example, lists and dictionaries have methods to modify their content, while tuples and strings do not.
""")

anogdnaor geonargierao enasgonar goaefinavoasngvrnasongvr grioahsgirhg
f oanfeoahfeoiajfioeajoifheoiasjifea fahfeoahfoaisjfhaeie
aeofhaoiefhaioefjioajfehaohfeiahf
efaohfeioaofehiaoheohaef
Lists: Ordered, mutable collections of items, which can be of mixed types.

Tuples: Ordered, immutable collections of items.

Dictionaries: Unordered collections of key-value pairs.

Sets: Unordered collections of unique items.

None: Represents the absence of a value or a null value.

Each data type serves different purposes and has different methods associated with it. For example, lists and dictionaries have methods to modify their content, while tuples and strings do not.

In [ ]:
lists, tuples, dictionary, sets

In [70]:
1.23e3

1230.0

In [72]:
45.6644e4 #4566644.0

456644.0

In [ ]:
4.56 
4.565987

how many bits we use in a computer, precision is set

In [ ]:
# setting precision of float numbers
formatted = "{:.2f}".format(3.14159)  # 3.14
formatted

In [82]:
r = "{:.9f}".format(1.23556)
r

'1.235560000'

In [86]:
#Typecasting
number = 5.4

# type(number)
print(number.is_integer())  # True
number

False

5.4

In [90]:
ratio = (0.5).as_integer_ratio()  # (3, 4)
ratio

(1, 2)

In [ ]:
# Integer
x = 10
print("x is of type:", type(x))

# Float
y = 3.14
print("y is of type:", type(y))

# String
name = "John"
print("name is of type:", type(name))

# Boolean
is_active = True
print("is_active is of type:", type(is_active))

In [96]:
MyName = 34 #camel case

ThisIsRollNumber = 45

MyName
ThisIsRollNumber

45

In [98]:
My_Name = 34
My_Name

34

In [100]:
1My_Name = 34
1My_Name

SyntaxError: invalid decimal literal (4004595530.py, line 1)

In [102]:
My_Name1 = 34
My_Name1

34

In [120]:
x = False
print("x is of type:",type(x))

x is of type: <class 'bool'>

In [128]:
sum = 5 + 3         # 8
difference = 10 - 2 # 8
product = 4 * 7     # 28
quotient = 20 / 4   # 5.0 (Note: Division always returns a float)
print("the sum is:",sum) # concatenation
print(sum,difference,product,quotient)

the sum is: 8
8 8 28 5.0

In [130]:
num = 5.67
num_int = int(num)
print("Converted to int:", num_int)

Converted to int: 5

In [136]:
x = "90"
y=int(x)
print(type(y))

<class 'int'>

In [152]:
a = 10
b = 3

print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)

Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

In [ ]:
if modulus of number/2 is 0
number is even

In [170]:
bits = (7).bit_length()  # 4 --> 1000 binary 0,1
bits

3

In [ ]:
binary

0 and 1


10 -> 

0 

1

10

11 -> 3

111 -> 7

In [190]:
x = 5
y = 10

#print( x < 0 and y > 0)
print(not(x<0))

True

and -> both true, then we will get true
or -> either of the two should be true

In [192]:
a = 10
b = 45

sum = a+b
sub = 
mul = 
div = 

print(sum)

55

Day 3, of bootcamp

In [3]:
# for loop


for variable in range(5):
    print(variable)

# first round: variable 1
# second round: variable 2
# .
# .
# .

0
1
2
3
4

In [11]:
numbers = [10, 222, 3, 41, 5]

for num in numbers:
    print(num)

10
222
3
41
5

In [ ]:
# in c 

for( int i; i<10;i++){  // for( variable; condition; increment)

    
}

In [17]:
# (start, stop, step)
x = range(1, 20, 5)

for i in x:
    print(i)

1
6
11
16

In [33]:
count = 5
increment = 0


while count>0:
    #print(count)
    count = count-1 # decrement
    print(increment)
    increment +=1 #increment of 1

0
1
2
3
4

In [ ]:
1st iteration: count 5 increment 0
2nd iteration: count 4 increment 1
3rd iteration: count 3 increment 2

In [1]:
x = 10

while x>0:
    print(x)
    x-=1

10
9
8
7
6
5
4
3
2
1

In [7]:
number = 10
if number > 0:
    print("The number is positive")

The number is positive

In [11]:
number = -5
if number > 0:
    print("The number is positive")
else:
    print("The number is not positive")

The number is not positive

In [17]:
# Checking if a number is positive, negative, or zero
num = 0

if num > 0:
    print("number  positive.")
elif num == 0:
    print("number  zero.")
else:
    print("number  negative.")

number  zero.

In [55]:
while True:
        number = int(input("Enter your number here: "))
        
        if number % 2 == 0:
            print(f"{number} is even")
        else:
            print(f"{number} is odd")

Enter your number here:  8

8 is even

Enter your number here:  4

4 is even

Enter your number here:  10

10 is even

Enter your number here:  114

114 is even

Enter your number here:  2220000

2220000 is even

Enter your number here:  3

3 is odd

In [27]:
number = input("Enter your number here: ")
type(number)

Enter your number here:  5

str

asking me for a number
check whether even odd

In [61]:
import random #Command to import packages (pre-made libraries of code)

# Define the choices
choices = ["rock", "paper", "scissors"]

# Random choice for the computer
computer_choice = random.choice(choices)

# Player input
player_choice = input("Enter rock, paper, or scissors: ").lower()

# Determine the winner
if player_choice == computer_choice:
    print(f"Both chose {player_choice}. It's a tie!")
elif (player_choice == "rock" and computer_choice == "scissors") or \
     (player_choice == "scissors" and computer_choice == "paper") or \
     (player_choice == "paper" and computer_choice == "rock"):
    print(f"You chose {player_choice} and the computer chose {computer_choice}. You win!")
else:
    print(f"You chose {player_choice} and the computer chose {computer_choice}. You lose!")

Enter rock, paper, or scissors:  paper

You chose paper and the computer chose rock. You win!

In [57]:
import random #Command to import packages (pre-made libraries of code)

# Define the choices
choices = ["rock", "paper", "scissors"]

# Random choice for the computer
computer_choice = random.choice(choices)
computer_choice

'rock'

In [65]:
import random

# Computer picks a random number between 1 and 10
secret_number = random.randint(1, 5)

# Player's guess
while True:
    guess = int(input("Guess the number (between 1 and 5): "))
    
    if guess == secret_number:
        print("Correct! You guessed the number.")
        break
    else:
        print("Try again!")

Guess the number (between 1 and 5):  4

Try again!

Guess the number (between 1 and 5):  3

Try again!

Guess the number (between 1 and 5):  1

Correct! You guessed the number.

In [8]:
list1 = [0,1,2,3,4,5,6,7,8,9,10]

In [24]:
list1[1:11:2]

[1, 3, 5, 7, 9]

In [39]:
list1[2]= 44
list1

[0, 1, 44, 3, 4, 5, 6, 7, 8, 9, 10]

In [141]:
list1[0:5:1] # from 0 to 4 it will print, will skip 5

[1, 2, 3, 4, 5]

In [137]:
list1[-1:0:-1]

[5, 4, 3, 2]

In [83]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [111]:
fruits.append("plum")

In [97]:
fruits.remove("plum")

In [103]:
fruits.pop()

'orange'

In [113]:
print(fruits)

['apple', 'cherry', 'banana', 'cherry', 'plum']

In [121]:
fruits[0:6:2] # [start, stop, step]

['apple', 'banana', 'plum']

In [29]:
dimensions = (1920, 1080)
print("Width:", dimensions[0])
print("Height:", dimensions[1])

dimensions[0]

Width: 1920
Height: 1080

1920

In [31]:
book_info = ("1984", "George Orwell", 1949)
print("Title:", book_info[0])
print("Author:", book_info[1])
print("Year:", book_info[2])

Title: 1984
Author: George Orwell
Year: 1949

In [35]:
book2_info = ("Animal Farm", "George Orwell", 1962)
print("Title:", book2_info[0])
print("Author:", book2_info[1])
print("Year:", book2_info[2])

Title: Animal Farm
Author: George Orwell
Year: 1962

In [41]:
book2_info[2]= 1966

TypeError: 'tuple' object does not support item assignment

In [43]:
student_grades = {"Alice": 85,"Bob": 92,"Charlie": 78}
student_grades

{'Alice': 85, 'Bob': 92, 'Charlie': 78}

In [47]:
bootcampStudents = {"sagar":1,"Sunil":2,"Umesh":3,"Bimal":4,"Prakash":5,"Ritiki":6,"Sunny":7,"Santonsh":8}

In [53]:
bootcampStudents["Bimal"]

4

In [55]:
unique_numbers = {1, 2, 3,3,3, 4, 5}
unique_numbers

{1, 2, 3, 4, 5}

In [57]:
unique_numbers.add(3)  # This will not add another '3'
print(unique_numbers)

{1, 2, 3, 4, 5}

In [59]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}

# Union
print("Union:", set_a | set_b)

# Intersection
print("Intersection:", set_a & set_b)

Union: {1, 2, 3, 4, 5}
Intersection: {3}

In [68]:
#creation of functions

def sum(a,b): # parameters
    result = a+b
    return result

addition = sum(3,6) # arguments

add1 = sum(5,6)
add2 = sum (7,3)
add3 = sum(5,5)
add4 = sum(5,10)

print(add1,add2,add3,add4)

11 10 10 15