# Python Data Types

## Strings - Group of characters

In [10]:
# 'Devashish' is same as "Devashish"   
# Devashish - not a string
print("Dev")
print('Dev')
"Devashish"

Dev
Dev

'Devashish'

In [ ]:
# Problem with Quotes
print("I'm not done")
print("My name is 'Devashish'")
print('My name is "Devashish"')

In [21]:
name = "Hello, My name is Devashish!" # Index position of H 
# Is there any space before ""
# print(name[0])# String is an array of Characters
# print(name[7],name[18]) # M, will print nothing, comma, space, 
# print(name[18])

M D
!

In [22]:
print(len(name)) # len(name)

28

In [ ]:
# Q. Print two characters using index in the same line

In [24]:
# Aim: To print individual characters of the given string
# Concept - Loop --> for loop

# Syntax - for is a keyword
# Keyword: Keywords are words that have a predefined meaning in a programming language

# for loop
#for variable in string:
#    print(variable)

for iterator in "Devashish":
    print(iterator)

D
e
v
a
s
h
i
s
h

In [25]:
# create a list of 10 numbers, print all numbers with the help of for loop

num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in num:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [33]:
statement = "I am sad with the product"    # not happy, happy but..., 

if "happy" in statement:
    print("Yes, customer is satisfied")
else:
    print("No, not satisfied")

No, not satisfied

In [28]:
statement = "I am happy with the product"
print("happy"  not in statement)

False

## Slicing

In [37]:
name = "Anshu Subedi"
print(name[2:9]) # values will be printed from 2 to n(9)-1

shu Sub

In [38]:
print(name[:9])

Anshu Sub

In [39]:
print(name[2:])

shu Subedi

In [40]:
print(name[:])

Anshu Subedi

In [41]:
print(name[:-1])

Anshu Subed

In [42]:
print(name[-8:-1]) # ending index is ignored

u Subed

In [ ]:
# Traversing from Left -> Right
[0]A[1]n[2]s[3]h[4]u[5] [6]S[7]u[8]b[9]e[10]d[11]i

# Traversing from  Right -> Left
A[-12]n[-11]s[-10]h[-9]u[-8] [-7]S[-6]u[-5]b[-4]e[-3]d[-2]i[-1]

In [44]:
name = "Vipan Parajuli"
print(name.upper())

VIPAN PARAJULI

In [45]:
print(name.lower())

vipan parajuli

In [50]:
name = " Vipan Parajuli"
print(name.strip())
#name = name.strip()# "Vipan Parajuli"

Vipan Parajuli

In [51]:
name

'Vipan Parajuli'

In [53]:
name = "Vipan Parajuli "
name
print(name.strip())

Vipan Parajuli

In [56]:
name = name.strip()
print(name)

Vipan Parajuli

In [58]:
name = " Vipan Parajuli "
name

' Vipan Parajuli '

In [60]:
name = name.strip()
name

'Vipan Parajuli'

In [61]:
name? # Significance of question mark

In [ ]:
# Removing space between words in string

In [63]:
name

'Vipan Parajuli'

In [64]:
updated_name = name.replace(" ","")

In [65]:
updated_name

'VipanParajuli'

In [70]:
name = " Vipan Parajule "
#updated_name = name.strip()
#updated_name = updated_name.replace(" ","")

updated_name = name.strip().replace(" ","")
updated_name

'VipanParajule'

In [78]:
name3 = "Independence Day (also promoted as ID4) is a 1996 American science fiction action film[2][3] directed by Roland Emmerich, written by Emmerich and the film's producer Dean Devlin, and stars an ensemble cast that consists of Will Smith, Bill Pullman, Jeff Goldblum, Mary McDonnell, Judd Hirsch, Margaret Colin, Randy Quaid, Robert Loggia, Vivica A. Fox, James Rebhorn, and Harvey Fierstein. The film focuses on disparate groups of people who converge in the Nevada desert in the aftermath of a worldwide attack by a powerful extraterrestrial race. With the other people of the world, they launch a counterattack on July 4—Independence Day in the United States. "
name3.split(" ")

['Independence',
 'Day',
 '(also',
 'promoted',
 'as',
 'ID4)',
 'is',
 'a',
 '1996',
 'American',
 'science',
 'fiction',
 'action',
 'film[2][3]',
 'directed',
 'by',
 'Roland',
 'Emmerich,',
 'written',
 'by',
 'Emmerich',
 'and',
 'the',
 "film's",
 'producer',
 'Dean',
 'Devlin,',
 'and',
 'stars',
 'an',
 'ensemble',
 'cast',
 'that',
 'consists',
 'of',
 'Will',
 'Smith,',
 'Bill',
 'Pullman,',
 'Jeff',
 'Goldblum,',
 'Mary',
 'McDonnell,',
 'Judd',
 'Hirsch,',
 'Margaret',
 'Colin,',
 'Randy',
 'Quaid,',
 'Robert',
 'Loggia,',
 'Vivica',
 'A.',
 'Fox,',
 'James',
 'Rebhorn,',
 'and',
 'Harvey',
 'Fierstein.',
 'The',
 'film',
 'focuses',
 'on',
 'disparate',
 'groups',
 'of',
 'people',
 'who',
 'converge',
 'in',
 'the',
 'Nevada',
 'desert',
 'in',
 'the',
 'aftermath',
 'of',
 'a',
 'worldwide',
 'attack',
 'by',
 'a',
 'powerful',
 'extraterrestrial',
 'race.',
 'With',
 'the',
 'other',
 'people',
 'of',
 'the',
 'world,',
 'they',
 'launch',
 'a',
 'counterattack',
 'on',
 'July',
 '4—Independence',
 'Day',
 'in',
 'the',
 'United',
 'States.',
 '']

In [81]:
firstName = "Nigam"
lastName = "Koirala"
name = firstName+" "+lastName
name

'Nigam Koirala'

In [85]:
# F-String
bankBalance = 23456790.342545
sentence = f"My name is Nigam Koirala and my bank Balance is {bankBalance:.2f}"
sentence

'My name is Nigam Koirala and my bank Balance is 23456790.34'

In [ ]:
# methods
.strip()
.replace()